@import url('https://fonts.googleapis.com/css2?family=Roboto&family=M+PLUS+1+Code&family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');

:root {
	--brand-color: #FDC807;
	--dark-color: #2A444D;
	--mid-color: #385963;
	--light-color: #FFF;
	--heart: #ffb3be;

	--font1: 'Paytone One';
	--font2: 'Lobster', cursive;
	--signature: 'M PLUS 1 Code', cursive;
	  }

* {
	box-sizing: border-box;
}

html {
	font-size: 16px;
}

/*-----------------------------------------------------------------header-*/

.navbar {
	background-color: var(--dark-color);
}

.navbar-brand,
.navbar-brand:hover {
	color: var(--brand-color);
	font-family: var(--font2);
	font-size: 2rem;
}

.navbar-toggler {
	border: none;
}

.navbar-toggler:focus {
	box-shadow: none;
}

.navbar-toggler-icon {
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28253,	200,	7, 0.8%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.nav-link,
.nav-link:hover {
	margin: auto 0.5rem;
	color: var(--brand-color);
	font-size: 1.25rem;
	font-weight: 500;
}

.header-buttons {
	position: absolute;
	right: 1rem;
}

/*-------------------------------------------------------------------hero-*/

#hero {
	background-color: white;
}

/* .hero-left,
.hero-right {
	border: 1px solid hotpink;
} */

.hero-image-container {
	height: 28rem;
	width: auto;
}

.hero-image--left {
	height: 100%;
	background: url("/static/assets/hero-left.jpg") no-repeat center center;
	background-size: contain;
}

.hero-image--right {
	height: 100%;
	background: url("/static/assets/hero-right.jpg") no-repeat center center;
	background-size: contain;
}

.hero-center p {
	line-height: 1.5;
}

.highlight {
	background-color: var(--brand-color);
}

/*------------------------------------------------------------home-search-*/

#home-search {
	height: 8rem;
	display: flex;
	align-items: center;
	background-color: #DCDCDD;
}

.home-search-input {
	width: 25rem;
}

/*---------------------------------------------------------------features-*/

/* .features {
	border: 1px solid orange;
} */

.features-image-container {
	height: 400px;
	width: auto;
}

.features-image--reviews {
	height: 100%;
	background: url("/static/assets/reviews.jpg") no-repeat center center;
	background-size: contain;
}

.features-image--search {
	height: 100%;
	background: url("/static/assets/search.jpg") no-repeat center center;
	background-size: contain;
}

/*---------------------------------------------------------------register-*/

.login-register {
	color: var(--dark-color);
	font-size: 1.75rem;
}

.register-col {
	min-height: 6.25rem;
}

.register-image-container {
	height: 50%;
}

.register-image {
	height: 100%;
	background: url("/static/assets/register.jpg") no-repeat center center;
	background-size: contain;
}

/*----------------------------------------------------------------login-*/

.login-col {
	min-height: 6.25rem;
}

.login-image-container {
	height: 100%;
}

.login-image {
	height: 100%;
	background: url("/static/assets/login.jpg") no-repeat center center;
	background-size: contain;
}

/*----------------------------------------------contact*/

.contact-info td {
	font-size: 1.375rem;
	padding-right: 1rem;
	padding-bottom: 1rem;
}

.contact-info a {
	color: inherit;
	text-decoration: none;
}

.contact-form {
	color: var(--tertiary-text-color);
	background-color: var(--secondary-bg-color);
	padding: 20px 30px;
	border: 1px solid var(--primary-text-color);
	border-radius: 10px;
	text-align: center;
}

.submit-btn {
	border: 1px solid var(--tertiary-text-color);
}

.fa-phone-alt,
.fa-envelope {
	color: var(--brand-color);
}

/*-----------------------------------------------------------------bottom-*/

#bottom {
	color: var(--light-color);
	background: var(--mid-color);
}

#bottom ul {
	list-style: none;
	padding: 0;
}

#bottom li {
	margin-bottom: 0.25rem;
}

#bottom a {
	color: inherit;
	text-decoration: none;
}

.bottom-col {
	margin-top: 1rem;
}

.bottom-heading {
	font-weight: 700;
}

/*-----------------------------------------------------------------footer-*/

#footer {
	display: flex;
	align-items: center;
	color: var(--light-color);
	background: var(--dark-color);
}

#footer a {
	text-decoration: none;
	color: inherit;
}

#footer p {
	margin: 0;
	font-size: 1rem;
}

.footer-left,
.footer-right {
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
}

.footer-left {
	display: flex;
  	align-items: center;
}

.social-media-icon {
	margin-right: 1.5rem;
	color: inherit;
	font-size: 1.25rem;
}

.signature {
	font-family: var(--signature);
}

.hvr-pulse:hover {
	color: var(--heart);
}

/*-------------------------------------------------------------------misc-*/

.btn-main,
.btn-main:hover {
	color: var(--dark-color);
	font-weight: 500;
	background: var(--brand-color);
}

.btn-main-reverse,
.btn-main-reverse:hover {
	margin-right: 0.5rem;
	color: var(--brand-color);
	font-weight: 500;
	background: var(--dark-color);	
}
