{% extends "base.html" %}
{% block header %}
    <!--login-->
	<section id="login" class="my-4">
		<div class="container">
			<div class="row">
				<div class="col-12 col-md-3 p-0 border border-primary">
					<div class="login-image-container">
						<div class="login-image"></div>
					</div>
				</div>
				<div class="col-12 col-md-6 login-col">
					<h2 class="login-register">Login</h2>
					<p>* Required</p>
					<form>
						<div class="mb-3">
                            <input type="text" class="form-control" id="user-name"
                                placeholder="User name (at least 4 characters)*" minlength="4" required>
                        </div>
						<div class="mb-3">
                            <input type="email" class="form-control" id="email-address"
                                placeholder="Email address*" required>
                        </div>
						<div class="mb-3">
                            <input type="email" class="form-control" id="password"
                                placeholder="Password (at least 8 characters)*" minlength="8" required>
                        </div>
						<p>Forgot password?</p>
						<button type="submit" class="btn btn-main" aria-label="Login">Login</button>
					</form>
				</div>
			</div>
		</div>
	</section>
	<!--/login-->
{% endblock %}

{% block footer %}
{% endblock %}